.join_wrap {
    margin: 0 auto;
    padding: 86px 0 180px;
    width: 1000px; 
}

.join_wrap .join_step {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 10px;
    border: 1px solid #bdbdbd;
    height: 242px;
}

.join_wrap .join_step li {
    position: relative;
    padding-top: 119px;
    width: 100px;
    background: url(../images/bg_join01_off.png) no-repeat center top;
    font-size: 12px;
    font-weight: bold;
    color: #d8d0d0;
    text-align: center;
}

.join_wrap .join_step li ~ li::before {
    content: url(../images/bg_arrow_right.png);
    position: absolute;
    left: calc(-232px / 2);
    top: 50%;
    transform: translateY(-50%);
}

.join_wrap .join_step li:nth-child(2) {
    background: url(../images/bg_join02.png) no-repeat center top;
}

.join_wrap .join_step li:nth-child(3) {
    background: url(../images/bg_join03.png) no-repeat center top;
}

.join_wrap .join_step li.active {
    color: #666;
    font-weight: bold;
}

.join_wrap .join_step li.active:nth-child(1) {
    background: url(../images/bg_join01.png) no-repeat center top;
}

.join_wrap .join_step li.active:nth-child(2) {
    background: url(../images/bg_join02_on.png) no-repeat center top;
}

.join_wrap .join_step li.active:nth-child(3) {
    background: url(../images/bg_join03.png) no-repeat center top;
}

.join_wrap .join_step li div {
    font-size: 18px;
    color: #999;
    font-weight: normal;
}

.join_wrap .join_step li.active div {
    color: #288bcc;
}

.join_wrap h2 {
    line-height: 1;
    font-size: 32px;
    color: #333;
}

.join_wrap h3 {
    padding: 45px 0 20px;
    font-size: 19px;
    color: #333;
}

/* checkbox */
.join_wrap input[type="checkbox"] {
    vertical-align: -4px;
}

.join_wrap .ck_box {
    font-size: 12px;
    width: 130px;
}

.join_wrap .ck_box span {
    padding-left: 5px;
    font-size: 15px;
    color: #000;
}

.join_wrap .ck_box span.bold {
    font-size: 15px;
    font-weight: 500;
} 

/* 약관 */
.join_wrap .agree {
    height: 300px;
    border: 1px solid #e3e3e3;
    overflow: auto;
    padding: 25px 30px;
    box-sizing: border-box;
    font-size: 16px;
    color: #666;
}

.join_wrap .agree h4 {
    font-size: 17px;
    color: #444;
    padding-bottom: 20px;
}

.join_wrap .agree h4 ~ h4 {
    padding-top: 30px;
}

.join_wrap .agree p {
    line-height: 28px;
}

.join_wrap .agree > ol {
    counter-reset: num; /* 부모요소 */
}

.join_wrap .agree > ol li {
    padding-left: 20px;
    text-indent: -20px;
}

.join_wrap .agree > ol li::before {
    content: counter(num);
    counter-increment: num;
    margin-right: 4px;
    display: inline-block;
    width: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #666;
    border-radius: 100%;
    transform: translateY(-3px);
    text-indent: 0;
}

.join_wrap .agree > ol > li > ol {
    counter-reset: num2; /* 부모요소 */
    padding-left: 20px;
}

.join_wrap .agree > ol > li > ol > li::before {
    content: counter(num2) ". ";
    counter-increment: num2;
    border: none;
    border-radius: 0%;
}

.join_wrap .check_total { /* 전체동의 부분 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    border-bottom: 1px solid #b5b5b5;
}

.join_wrap .align_center {
    text-align: center;
    margin-top: 50px;
}

.join_wrap .align_center .btn_type1 {
    display: inline-block;
    width: 160px;
    line-height: 60px;
    background: #288bcc;
    color: #fff;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}
/* h3와 checkbox */
.join_wrap .align_both {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 20px;
}

.join_wrap .align_both h3 {
    padding: 0;
}
